* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all ease .1s;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: black;
}

main {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: white;
    padding-bottom: 5rem;
    font-size: 2.5rem;
}


.piano {
    height: 350px;
    background-color: rgb(151, 150, 150);
    border-radius: 1rem;
    display: flex;
    overflow: hidden;


    .key {
        width: 4.5rem;
        height: 98%;
        border: 1PX solid black;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-color: white;
        display: flex;
        justify-content: flex-end;
        position: relative;
        transition: all ease .1s;


        .inner-black {
            width: 2.5rem;
            height: 200px;
            background-color: black;
            border-bottom-right-radius: .5rem;
            border-bottom-left-radius: .5rem;
            position: relative;
            overflow: hidden;
        }

        h2 {
            position: absolute;
            left: 50%;
            top: 85%;
            transform: translate(-50%, -50%);
            font-weight: 500;
        }

        h3 {
            color: white;
            text-align: center;
            padding-top: 1rem;
            font-size: 1.5rem;
            font-weight: 500;
        }


    }




}